<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :started_on %>
  <%= date_select f, :started_on %>
  <%= error_tag f, :started_on %>

  <%= label f, :course %>
  <%= select(f, :course_id, Enum.map(@courses, &{&1.name, &1.id})) %>
  <%= error_tag f, :course_id %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
